polkit.addRule(function(action, subject) {
    if (action.id == "org.miga.power.set" &&
        subject.isInGroup("wheel")) {
        return polkit.Result.YES;
    }
});
